@model IEnumerable<TestImages.Models.Images>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="basic-datatable" class="dt-dataTables-data table dt-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Descrption)
            </td>
            
           <td>
     @*   pdf هنا يتم اخذ امتداد الملف لمعرفة انه صورة او *@
    @{

        string text = item.ImageUrl;
        int dotIndex = text.IndexOf('.');
        string extractedText = dotIndex >= 0 && dotIndex < text.Length - 1 ? text.Substring(dotIndex + 1) : string.Empty;
    }
      @*  ياخذ الصورة الافتراضية لايقونة البي دي اف pdf هنا فحص  الامتداد اذا كان  *@
    @if (extractedText == "pdf")
    {
        <a href="~/Images/@item.ImageUrl" download>
            <img src="~/Images/pdf.png" style="width:50px; height:50px" alt="PDF Image" />
        </a>
    }
    else if (IsImageFile(extractedText))
    {
        <a href="~/Images/@item.ImageUrl" download>
            <img src="~/Images/@item.ImageUrl" style="width:50px; height:50px" alt="Image" />
        </a>
    }
    else
    {
        <p>الملف غير معروف</p>
    }

</td>
          
        </tr>
}
    </tbody>

</table>


@functions {
    public bool IsImageFile(string fileExtension)
    {
        string[] imageExtensions = { "jpg", "jpeg", "png", "gif" };
        return imageExtensions.Contains(fileExtension.ToLower());
    }
}

	
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script> 
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script> 
	<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> 
	<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script> 
	


	<script>
		$('.dt-dataTables-data').dataTable({
                     dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]

        });	 
		
	</script>	

